################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TpFinalTDP2015.CrossCutting/obj
/Cuestionario/Cuestionario
/.vs/MarrSystems.TpFinalTDP2015/v15
