USE [master]
GO
/****** Object:  Database [DigitalSignage]    Script Date: 13/03/2016 13:26:07 ******/
CREATE DATABASE [DigitalSignage]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DigitalSignage', FILENAME = N'C:\Users\Martín Arrúa\DigitalSignage.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DigitalSignage_log', FILENAME = N'C:\Users\Martín Arrúa\DigitalSignage_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DigitalSignage].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DigitalSignage]
GO
/****** Object:  Schema [MARR]    Script Date: 13/03/2016 13:26:08 ******/
CREATE SCHEMA [MARR]
GO
/****** Object:  Table [MARR].[__MigrationHistory]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [MARR].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_MARR.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [MARR].[Banner]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MARR.Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [MARR].[BannerBannerItem]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[BannerBannerItem](
	[BannerId] [int] NOT NULL,
	[BannerItemId] [int] NOT NULL,
 CONSTRAINT [PK_MARR.BannerBannerItem] PRIMARY KEY CLUSTERED 
(
	[BannerId] ASC,
	[BannerItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [MARR].[BannerRssSource]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[BannerRssSource](
	[BannerId] [int] NOT NULL,
	[RssSourceId] [int] NOT NULL,
 CONSTRAINT [PK_MARR.BannerRssSource] PRIMARY KEY CLUSTERED 
(
	[BannerId] ASC,
	[RssSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [MARR].[BannerSchedule]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[BannerSchedule](
	[BannerId] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
 CONSTRAINT [PK_MARR.BannerSchedule] PRIMARY KEY CLUSTERED 
(
	[BannerId] ASC,
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [MARR].[BaseBannerItems]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[BaseBannerItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MARR.BaseBannerItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [MARR].[Campaign]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[Campaign](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MARR.Campaign] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [MARR].[CampaignSchedule]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[CampaignSchedule](
	[CampaignId] [int] NOT NULL,
	[ScheduleId] [int] NOT NULL,
 CONSTRAINT [PK_MARR.CampaignSchedule] PRIMARY KEY CLUSTERED 
(
	[CampaignId] ASC,
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [MARR].[DateInterval]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[DateInterval](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ActiveFrom] [datetime2](7) NOT NULL,
	[ActiveUntil] [datetime2](7) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MARR.DateInterval] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [MARR].[DateIntervalDay]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[DateIntervalDay](
	[DateIntervalId] [int] NOT NULL,
	[DayId] [int] NOT NULL,
 CONSTRAINT [PK_MARR.DateIntervalDay] PRIMARY KEY CLUSTERED 
(
	[DateIntervalId] ASC,
	[DayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [MARR].[Day]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[Day](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Value] [int] NOT NULL,
	[NameOfDay] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MARR.Day] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [MARR].[RssItem]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[RssItem](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[URL] [nvarchar](max) NOT NULL,
	[PublicationDate] [datetime2](7) NULL,
 CONSTRAINT [PK_MARR.RssItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [MARR].[RssSource]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[RssSource](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[URL] [nvarchar](max) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
 CONSTRAINT [PK_MARR.RssSource] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [MARR].[RssSourceRssItem]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[RssSourceRssItem](
	[RssSourceId] [int] NOT NULL,
	[RssItemId] [int] NOT NULL,
 CONSTRAINT [PK_MARR.RssSourceRssItem] PRIMARY KEY CLUSTERED 
(
	[RssSourceId] ASC,
	[RssItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [MARR].[Slides]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[Slides](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Transition] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[Campaign_Id] [int] NULL,
 CONSTRAINT [PK_MARR.Slides] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [MARR].[StaticText]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[StaticText](
	[Id] [int] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MARR.StaticText] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [MARR].[TimeInterval]    Script Date: 13/03/2016 13:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MARR].[TimeInterval](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Start] [time](7) NOT NULL,
	[End] [time](7) NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModified] [datetime] NOT NULL,
	[DateIntervalId] [int] NOT NULL,
 CONSTRAINT [PK_MARR.TimeInterval] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [MARR].[Banner] ON 

INSERT [MARR].[Banner] ([Id], [Name], [Description], [CreationDate], [LastModified]) VALUES (1, N'Noticias de deporte', N'Noticias de la actualidad deportiva, provenientes de distintas fuentes. Tambien contiene otros textos útiles', CAST(N'2016-03-13 12:33:32.443' AS DateTime), CAST(N'2016-03-13 12:33:32.443' AS DateTime))
SET IDENTITY_INSERT [MARR].[Banner] OFF
INSERT [MARR].[BannerBannerItem] ([BannerId], [BannerItemId]) VALUES (1, 4)
INSERT [MARR].[BannerBannerItem] ([BannerId], [BannerItemId]) VALUES (1, 5)
INSERT [MARR].[BannerRssSource] ([BannerId], [RssSourceId]) VALUES (1, 1)
INSERT [MARR].[BannerRssSource] ([BannerId], [RssSourceId]) VALUES (1, 3)
INSERT [MARR].[BannerSchedule] ([BannerId], [ScheduleId]) VALUES (1, 1)
SET IDENTITY_INSERT [MARR].[BaseBannerItems] ON 

INSERT [MARR].[BaseBannerItems] ([Id], [Type], [CreationDate], [LastModified]) VALUES (1, N'Text', CAST(N'2016-03-13 12:33:32.063' AS DateTime), CAST(N'2016-03-13 12:33:33.807' AS DateTime))
INSERT [MARR].[BaseBannerItems] ([Id], [Type], [CreationDate], [LastModified]) VALUES (2, N'Text', CAST(N'2016-03-13 12:33:32.063' AS DateTime), CAST(N'2016-03-13 12:33:32.063' AS DateTime))
INSERT [MARR].[BaseBannerItems] ([Id], [Type], [CreationDate], [LastModified]) VALUES (3, N'Text', CAST(N'2016-03-13 12:33:32.063' AS DateTime), CAST(N'2016-03-13 12:33:32.063' AS DateTime))
SET IDENTITY_INSERT [MARR].[BaseBannerItems] OFF
SET IDENTITY_INSERT [MARR].[Campaign] ON 

INSERT [MARR].[Campaign] ([Id], [Name], [Description], [CreationDate], [LastModified]) VALUES (1, N'Publicidad Samsung S7 (ver 47283289)', N'Una mas de las muchas campa;as de lagsung', CAST(N'2016-03-13 12:33:31.940' AS DateTime), CAST(N'2016-03-13 12:33:31.940' AS DateTime))
INSERT [MARR].[Campaign] ([Id], [Name], [Description], [CreationDate], [LastModified]) VALUES (2, N'Publicidad Apple iPhone 5se', N'Primera publicidad de Apple en Argentina, para el nuevo celular que no va a dar resultados', CAST(N'2016-03-13 12:33:31.940' AS DateTime), CAST(N'2016-03-13 12:33:31.940' AS DateTime))
SET IDENTITY_INSERT [MARR].[Campaign] OFF
INSERT [MARR].[CampaignSchedule] ([CampaignId], [ScheduleId]) VALUES (1, 1)
INSERT [MARR].[CampaignSchedule] ([CampaignId], [ScheduleId]) VALUES (2, 2)
SET IDENTITY_INSERT [MARR].[DateInterval] ON 

INSERT [MARR].[DateInterval] ([Id], [Name], [ActiveFrom], [ActiveUntil], [CreationDate], [LastModified]) VALUES (1, N'Lunes a Viernes, 08am a 12am', CAST(N'2016-05-01 00:00:00.0000000' AS DateTime2), CAST(N'2016-06-01 00:00:00.0000000' AS DateTime2), CAST(N'2016-03-13 12:33:31.433' AS DateTime), CAST(N'2016-03-13 12:33:31.433' AS DateTime))
INSERT [MARR].[DateInterval] ([Id], [Name], [ActiveFrom], [ActiveUntil], [CreationDate], [LastModified]) VALUES (2, N'Sabados y Domingos, empiezan antes de las 12', CAST(N'2016-02-01 00:00:00.0000000' AS DateTime2), CAST(N'2016-03-01 00:00:00.0000000' AS DateTime2), CAST(N'2016-03-13 12:33:31.433' AS DateTime), CAST(N'2016-03-13 12:33:31.433' AS DateTime))
INSERT [MARR].[DateInterval] ([Id], [Name], [ActiveFrom], [ActiveUntil], [CreationDate], [LastModified]) VALUES (3, N'Miercoles, terminan despues de las 15', CAST(N'2016-10-01 00:00:00.0000000' AS DateTime2), CAST(N'2016-11-01 00:00:00.0000000' AS DateTime2), CAST(N'2016-03-13 12:33:31.433' AS DateTime), CAST(N'2016-03-13 12:33:31.433' AS DateTime))
SET IDENTITY_INSERT [MARR].[DateInterval] OFF
INSERT [MARR].[DateIntervalDay] ([DateIntervalId], [DayId]) VALUES (2, 1)
INSERT [MARR].[DateIntervalDay] ([DateIntervalId], [DayId]) VALUES (1, 2)
INSERT [MARR].[DateIntervalDay] ([DateIntervalId], [DayId]) VALUES (1, 3)
SET IDENTITY_INSERT [MARR].[Day] ON 

INSERT [MARR].[Day] ([Id], [Value], [NameOfDay], [CreationDate], [LastModified]) VALUES (1, 1, N'Domingo', CAST(N'2016-03-13 12:33:27.913' AS DateTime), CAST(N'2016-03-13 12:33:27.913' AS DateTime))
INSERT [MARR].[Day] ([Id], [Value], [NameOfDay], [CreationDate], [LastModified]) VALUES (2, 2, N'Lunes', CAST(N'2016-03-13 12:33:27.913' AS DateTime), CAST(N'2016-03-13 12:33:27.913' AS DateTime))
INSERT [MARR].[Day] ([Id], [Value], [NameOfDay], [CreationDate], [LastModified]) VALUES (3, 3, N'Martes', CAST(N'2016-03-13 12:33:27.913' AS DateTime), CAST(N'2016-03-13 12:33:27.913' AS DateTime))
SET IDENTITY_INSERT [MARR].[Day] OFF
SET IDENTITY_INSERT [MARR].[RssSource] ON 

INSERT [MARR].[RssSource] ([Id], [Title], [Description], [URL], [CreationDate], [LastModified]) VALUES (1, N'Noticias de política TN', N'Noticias de la actualidad política, siendo su fuente Todo Noticias', N'http://tn.com.ar/feed/politica', CAST(N'2016-03-13 12:33:32.010' AS DateTime), CAST(N'2016-03-13 12:33:32.010' AS DateTime))
INSERT [MARR].[RssSource] ([Id], [Title], [Description], [URL], [CreationDate], [LastModified]) VALUES (2, N'Noticias de deportes teleSur', N'Noticias de la actualidad deportiva, siendo su fuente teleSur', N'http://www.telesurtv.net/rss/RssDeporte.html', CAST(N'2016-03-13 12:33:32.010' AS DateTime), CAST(N'2016-03-13 12:33:32.010' AS DateTime))
INSERT [MARR].[RssSource] ([Id], [Title], [Description], [URL], [CreationDate], [LastModified]) VALUES (3, N'Noticias de deportes El pais', N'Noticias de la actualidad deportiva, siendo su fuente el medio internacional El Pais', N'http://ep00.epimg.net/rss/deportes/portada.xml', CAST(N'2016-03-13 12:33:32.010' AS DateTime), CAST(N'2016-03-13 12:33:32.010' AS DateTime))
SET IDENTITY_INSERT [MARR].[RssSource] OFF
INSERT [MARR].[StaticText] ([Id], [Title], [Description], [Text]) VALUES (1, N'Texto 0', N'Texto del 13/03/2016 12:33:32', N'Texto 0 del 13/03/2016 12:33:32')
INSERT [MARR].[StaticText] ([Id], [Title], [Description], [Text]) VALUES (2, N'Texto 1', N'Texto del 13/03/2016 12:33:32', N'Texto 1 del 13/03/2016 12:33:32')
INSERT [MARR].[StaticText] ([Id], [Title], [Description], [Text]) VALUES (3, N'Texto 2', N'Texto del 13/03/2016 12:33:32', N'Texto 2 del 13/03/2016 12:33:32')
SET IDENTITY_INSERT [MARR].[TimeInterval] ON 

INSERT [MARR].[TimeInterval] ([Id], [Start], [End], [CreationDate], [LastModified], [DateIntervalId]) VALUES (1, CAST(N'00:00:00' AS Time), CAST(N'01:00:00' AS Time), CAST(N'2016-03-13 12:33:31.773' AS DateTime), CAST(N'2016-03-13 12:33:31.773' AS DateTime), 1)
INSERT [MARR].[TimeInterval] ([Id], [Start], [End], [CreationDate], [LastModified], [DateIntervalId]) VALUES (2, CAST(N'02:00:00' AS Time), CAST(N'03:00:00' AS Time), CAST(N'2016-03-13 12:33:31.773' AS DateTime), CAST(N'2016-03-13 12:33:31.773' AS DateTime), 1)
INSERT [MARR].[TimeInterval] ([Id], [Start], [End], [CreationDate], [LastModified], [DateIntervalId]) VALUES (3, CAST(N'04:00:00' AS Time), CAST(N'05:00:00' AS Time), CAST(N'2016-03-13 12:33:31.773' AS DateTime), CAST(N'2016-03-13 12:33:31.773' AS DateTime), 1)
SET IDENTITY_INSERT [MARR].[TimeInterval] OFF
/****** Object:  Index [IX_BannerId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_BannerId] ON [MARR].[BannerBannerItem]
(
	[BannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BannerItemId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_BannerItemId] ON [MARR].[BannerBannerItem]
(
	[BannerItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BannerId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_BannerId] ON [MARR].[BannerRssSource]
(
	[BannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RssSourceId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_RssSourceId] ON [MARR].[BannerRssSource]
(
	[RssSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_BannerId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_BannerId] ON [MARR].[BannerSchedule]
(
	[BannerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ScheduleId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_ScheduleId] ON [MARR].[BannerSchedule]
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CampaignId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_CampaignId] ON [MARR].[CampaignSchedule]
(
	[CampaignId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ScheduleId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_ScheduleId] ON [MARR].[CampaignSchedule]
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DateIntervalId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_DateIntervalId] ON [MARR].[DateIntervalDay]
(
	[DateIntervalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DayId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_DayId] ON [MARR].[DateIntervalDay]
(
	[DayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [MARR].[RssItem]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RssItemId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_RssItemId] ON [MARR].[RssSourceRssItem]
(
	[RssItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RssSourceId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_RssSourceId] ON [MARR].[RssSourceRssItem]
(
	[RssSourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Campaign_Id]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_Campaign_Id] ON [MARR].[Slides]
(
	[Campaign_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [MARR].[StaticText]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DateIntervalId]    Script Date: 13/03/2016 13:26:08 ******/
CREATE NONCLUSTERED INDEX [IX_DateIntervalId] ON [MARR].[TimeInterval]
(
	[DateIntervalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [MARR].[BannerBannerItem]  WITH CHECK ADD  CONSTRAINT [FK_MARR.BannerBannerItem_MARR.Banner_BannerId] FOREIGN KEY([BannerId])
REFERENCES [MARR].[Banner] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[BannerBannerItem] CHECK CONSTRAINT [FK_MARR.BannerBannerItem_MARR.Banner_BannerId]
GO
ALTER TABLE [MARR].[BannerBannerItem]  WITH CHECK ADD  CONSTRAINT [FK_MARR.BannerBannerItem_MARR.BaseBannerItems_BannerItemId] FOREIGN KEY([BannerItemId])
REFERENCES [MARR].[BaseBannerItems] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[BannerBannerItem] CHECK CONSTRAINT [FK_MARR.BannerBannerItem_MARR.BaseBannerItems_BannerItemId]
GO
ALTER TABLE [MARR].[BannerRssSource]  WITH CHECK ADD  CONSTRAINT [FK_MARR.BannerRssSource_MARR.Banner_BannerId] FOREIGN KEY([BannerId])
REFERENCES [MARR].[Banner] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[BannerRssSource] CHECK CONSTRAINT [FK_MARR.BannerRssSource_MARR.Banner_BannerId]
GO
ALTER TABLE [MARR].[BannerRssSource]  WITH CHECK ADD  CONSTRAINT [FK_MARR.BannerRssSource_MARR.RssSource_RssSourceId] FOREIGN KEY([RssSourceId])
REFERENCES [MARR].[RssSource] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[BannerRssSource] CHECK CONSTRAINT [FK_MARR.BannerRssSource_MARR.RssSource_RssSourceId]
GO
ALTER TABLE [MARR].[BannerSchedule]  WITH CHECK ADD  CONSTRAINT [FK_MARR.BannerSchedule_MARR.Banner_BannerId] FOREIGN KEY([BannerId])
REFERENCES [MARR].[Banner] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[BannerSchedule] CHECK CONSTRAINT [FK_MARR.BannerSchedule_MARR.Banner_BannerId]
GO
ALTER TABLE [MARR].[BannerSchedule]  WITH CHECK ADD  CONSTRAINT [FK_MARR.BannerSchedule_MARR.DateInterval_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [MARR].[DateInterval] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[BannerSchedule] CHECK CONSTRAINT [FK_MARR.BannerSchedule_MARR.DateInterval_ScheduleId]
GO
ALTER TABLE [MARR].[CampaignSchedule]  WITH CHECK ADD  CONSTRAINT [FK_MARR.CampaignSchedule_MARR.Campaign_CampaignId] FOREIGN KEY([CampaignId])
REFERENCES [MARR].[Campaign] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[CampaignSchedule] CHECK CONSTRAINT [FK_MARR.CampaignSchedule_MARR.Campaign_CampaignId]
GO
ALTER TABLE [MARR].[CampaignSchedule]  WITH CHECK ADD  CONSTRAINT [FK_MARR.CampaignSchedule_MARR.DateInterval_ScheduleId] FOREIGN KEY([ScheduleId])
REFERENCES [MARR].[DateInterval] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[CampaignSchedule] CHECK CONSTRAINT [FK_MARR.CampaignSchedule_MARR.DateInterval_ScheduleId]
GO
ALTER TABLE [MARR].[DateIntervalDay]  WITH CHECK ADD  CONSTRAINT [FK_MARR.DateIntervalDay_MARR.DateInterval_DateIntervalId] FOREIGN KEY([DateIntervalId])
REFERENCES [MARR].[DateInterval] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[DateIntervalDay] CHECK CONSTRAINT [FK_MARR.DateIntervalDay_MARR.DateInterval_DateIntervalId]
GO
ALTER TABLE [MARR].[DateIntervalDay]  WITH CHECK ADD  CONSTRAINT [FK_MARR.DateIntervalDay_MARR.Day_DayId] FOREIGN KEY([DayId])
REFERENCES [MARR].[Day] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[DateIntervalDay] CHECK CONSTRAINT [FK_MARR.DateIntervalDay_MARR.Day_DayId]
GO
ALTER TABLE [MARR].[RssItem]  WITH CHECK ADD  CONSTRAINT [FK_MARR.RssItem_MARR.BaseBannerItems_Id] FOREIGN KEY([Id])
REFERENCES [MARR].[BaseBannerItems] ([Id])
GO
ALTER TABLE [MARR].[RssItem] CHECK CONSTRAINT [FK_MARR.RssItem_MARR.BaseBannerItems_Id]
GO
ALTER TABLE [MARR].[RssSourceRssItem]  WITH CHECK ADD  CONSTRAINT [FK_MARR.RssSourceRssItem_MARR.RssItem_RssItemId] FOREIGN KEY([RssItemId])
REFERENCES [MARR].[RssItem] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[RssSourceRssItem] CHECK CONSTRAINT [FK_MARR.RssSourceRssItem_MARR.RssItem_RssItemId]
GO
ALTER TABLE [MARR].[RssSourceRssItem]  WITH CHECK ADD  CONSTRAINT [FK_MARR.RssSourceRssItem_MARR.RssSource_RssSourceId] FOREIGN KEY([RssSourceId])
REFERENCES [MARR].[RssSource] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[RssSourceRssItem] CHECK CONSTRAINT [FK_MARR.RssSourceRssItem_MARR.RssSource_RssSourceId]
GO
ALTER TABLE [MARR].[Slides]  WITH CHECK ADD  CONSTRAINT [FK_MARR.Slides_MARR.Campaign_Campaign_Id] FOREIGN KEY([Campaign_Id])
REFERENCES [MARR].[Campaign] ([Id])
GO
ALTER TABLE [MARR].[Slides] CHECK CONSTRAINT [FK_MARR.Slides_MARR.Campaign_Campaign_Id]
GO
ALTER TABLE [MARR].[StaticText]  WITH CHECK ADD  CONSTRAINT [FK_MARR.StaticText_MARR.BaseBannerItems_Id] FOREIGN KEY([Id])
REFERENCES [MARR].[BaseBannerItems] ([Id])
GO
ALTER TABLE [MARR].[StaticText] CHECK CONSTRAINT [FK_MARR.StaticText_MARR.BaseBannerItems_Id]
GO
ALTER TABLE [MARR].[TimeInterval]  WITH CHECK ADD  CONSTRAINT [FK_MARR.TimeInterval_MARR.DateInterval_DateIntervalId] FOREIGN KEY([DateIntervalId])
REFERENCES [MARR].[DateInterval] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [MARR].[TimeInterval] CHECK CONSTRAINT [FK_MARR.TimeInterval_MARR.DateInterval_DateIntervalId]
GO
USE [master]
GO
