<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <alias alias="IUnity"
        type="Microsoft.Practices.Unity.IUnityContainer,
        Microsoft.Practices.Unity" />
  
  <alias alias="IPersFactory" type="MarrSystems.TpFinalTDP2015.Persistence.IPersistenceFactory,
         MarrSystems.TpFinalTDP2015.Persistence" />

  <alias alias="EFPersFactory" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.EFPersistenceFactory,
         MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />

  <alias alias="ICnxtFactory" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.IDbContextFactory,
         MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />

  <alias alias="EFCnxtFactory" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.DigitalSignageDbContextFactory,
         MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />


  <alias alias="IServFactory" type="MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers.IServiceFactory,
        MarrSystems.TpFinalTDP2015.BusinessLogic"/>

  <alias alias="ServFactory" type="MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers.ServiceFactory,
        MarrSystems.TpFinalTDP2015.BusinessLogic"/>



  <alias alias="IContFactory" type="MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers.IControllerFactory,
        MarrSystems.TpFinalTDP2015.BusinessLogic"/>

  <alias alias="ContFactory" type="MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers.ControllerFactory,
        MarrSystems.TpFinalTDP2015.BusinessLogic"/>

  <alias alias="IPageFactory" type="MarrSystems.TpFinalTDP2015.UI.AdminModePages.IAdminModePageFactory,
         MarrSystems.TpFinalTDP2015.UI.Winforms" />

  <alias alias="PageFactory" type="MarrSystems.TpFinalTDP2015.UI.AdminModePages.AdminModePageFactory,
         MarrSystems.TpFinalTDP2015.UI.Winforms" />

  <alias alias="IRss" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.IRssReader,
         MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="RawRSS" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.RawXmlRssReader,
         MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="SyndicationRSS" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.SyndicationRssReader,
         MarrSystems.TpFinalTDP2015.BusinessLogic"/>

  <alias alias="EFDigSignCnxt" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.DigitalSignageContext,
         MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="IDbCnxt" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.IDbContext,
         MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />

  <alias alias="ISchChk" type="MarrSystems.TpFinalTDP2015.Model.DomainServices.IScheduleChecker,
         MarrSystems.TpFinalTDP2015.Model"/>
  <alias alias="SchChk" type="MarrSystems.TpFinalTDP2015.Model.DomainServices.ScheduleChecker,
         MarrSystems.TpFinalTDP2015.Model"/>

  <container>

    <register type="ICnxtFactory" mapTo="EFCnxtFactory">
      <lifetime type="PerResolveLifetimeManager" />
    </register>

    <register type="EFCnxtFactory" name="DigitalSignageDbContextFactory">
      <constructor>
        <param name="pConectionStringName" value="DigitalSignage"/>
      </constructor>
    </register>

    <register type="IPersFactory" mapTo="EFPersFactory" >
      <lifetime type="PerResolveLifetimeManager" />
    </register>

    <register type="EFPersFactory" name="EFPersistenceFactory">
      <constructor>
        <param name="pFactory">
          <dependency type="ICnxtFactory" />
        </param>
      </constructor>
    </register>

    <register type="IContFactory" mapTo="ContFactory" name="IControllerFactory">
      <lifetime type="PerResolveLifetimeManager" />
    </register>

    <register type="ContFactory" name="ControllerFactory" >
      <constructor>
        <param name="pContainer">
          <dependency type="IUnity" />
        </param>
        <param name="pUowFact">
          <dependency  type="IPersFactory" />
        </param>
        <param name="pServFact">
          <dependency type="IServFactory"  />
        </param>
      </constructor>
    </register>

    <register type="IServFactory" mapTo="ServFactory">
      <lifetime type="PerResolveLifetimeManager" />
    </register>

    <register type="ServFactory" name="ServiceFactory">
      <constructor>
        <param name="pContainer">
          <dependency type="IUnity" />
        </param>
        <param name="pFactory">
          <dependency type="IPersFactory" />
        </param>
      </constructor >
    </register>


    <register type="IRss" mapTo="RawRSS" name="RawXmlRssReader">
      <lifetime type="PerResolveLifetimeManager" />
      <constructor />
    </register>

    <register type="ISchChk" mapTo="SchChk" name="IScheduleChecker">
      <lifetime type="PerResolveLifetimeManager" />
      <constructor />
    </register>

  </container>
</unity>