<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <alias alias="IPersFactory" type="MarrSystems.TpFinalTDP2015.Persistence.IPersistenceFactory,
         MarrSystems.TpFinalTDP2015.IPersistenceFactory" />

  <alias alias="EFPersFactory" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.EFPersistenceFactory,
         MarrSystems.TpFinalTDP2015.EntityFramework.EFPersistenceFactory" />

  <alias alias="ICnxtFactory" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.IDbContextFactory,
         MarrSystems.TpFinalTDP2015.EntityFramework.IDbContextFactory" />

  <alias alias="EFCnxtFactory" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.DigitalSignageDbContextFactory,
         MarrSystems.TpFinalTDP2015.EntityFramework.DigitalSignageDbContextFactory" />


  <alias alias="IServFactory" type="MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers.IServiceFactory,
        MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers"/>

  <alias alias="ServFactory" type="MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers.ServiceFactory,
        MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers"/>


  <alias alias="IContFactory" type="MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers.IControllerFactory,
        MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers"/>

  <alias alias="ContFactory" type="MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers.ControllerFactory,
        MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers"/>
  
  
  
  <alias alias="IRss" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.IRssReader,
         MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="RawRSS" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.RawXmlRssReader,
         MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="SyndicationRSS" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.SyndicationRssReader,
         MarrSystems.TpFinalTDP2015.BusinessLogic"/>

  <alias alias="EFDigSignCnxt" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.DigitalSignageContext,
         MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="IDbCnxt" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.IDbContext,
         MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />

  <alias alias="ISchChk" type="MarrSystems.TpFinalTDP2015.Model.DomainServices.IScheduleChecker,
         MarrSystems.TpFinalTDP2015.Model"/>
  <alias alias="SchChk" type="MarrSystems.TpFinalTDP2015.Model.DomainServices.ScheduleChecker,
         MarrSystems.TpFinalTDP2015.Model"/>


  


  <container>
    
    <register type="ICnxtFactory" mapTo="DigitalSignageDbContextFactory"/>
    <constructor>
      <param name="pConectionStringName" value="DigitalSignageContext">
      </param>
    </constructor>
    
    
    <register type="IPersFactory" mapTo="EFPersFactory"/>
    <constructor>
      <param name="pFactory" type="ICnxtFactory"></param>
    </constructor>



    <register type="IRss" mapTo="RawRSS">
      <constructor />
    </register>

    <register type="ISchChk" mapTo="SchChk">
      <constructor />
    </register>

  </container>
</unity>