<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <alias alias="Iuow" type="MarrSystems.TpFinalTDP2015.Persistence.IUnitOfWork,          MarrSystems.TpFinalTDP2015.Persistence" />
  <alias alias="Euow" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.EFUnitOfWork,    MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="Nuow" type="MarrSystems.TpFinalTDP2015.Persistence.NHibernate.NHUnitOfWork,         MarrSystems.TpFinalTDP2015.Persistence.NHibernate" />
  <alias alias="IRss" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.IRssReader,                      MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="RawRSS" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.RawXmlRssReader,               MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="SyndicationRSS" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.SyndicationRssReader,  MarrSystems.TpFinalTDP2015.BusinessLogic"/>

  <alias alias="DigSigCnxt" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.DigitalSignageContext,
         MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="Idbc" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.IDbContext,
         MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />

  <container>
    <register type="Iuow" mapTo="Euow" />

    <register type="Idbc" mapTo="DigSigCnxt"/>

    <register name="EFUnitOfWork" type="Euow">
      <constructor>
        <param name="pContext" type="Idbc">
        </param>
      </constructor>
    </register>

    <register type="IRss" mapTo="RawRSS">
      <constructor />
    </register>
  </container>
</unity>