<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <alias alias="Iuow" type="TpFinalTDP2015.Persistence.Interfaces.IUnitOfWork,          TpFinalTDP2015.Persistence.Interfaces" />
  <alias alias="Euow" type="TpFinalTDP2015.Persistence.EntityFramework.EFUnitOfWork,    TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="Nuow" type="TpFinalTDP2015.Persistence.NHibernate.NHUnitOfWork,         TpFinalTDP2015.Persistence.NHibernate" />
  <alias alias="IRss" type="TpFinalTDP2015.Service.RSS.IRssReader,                      TpFinalTDP2015.Service"/>
  <alias alias="RawRSS" type="TpFinalTDP2015.Service.RSS.RawXmlRssReader,               TpFinalTDP2015.Service"/>
  <alias alias="SyndicationRSS" type="TpFinalTDP2015.Service.RSS.SyndicationRssReader,  TpFinalTDP2015.Service"/>


  <alias alias="EFAlwaysDrop" type="TpFinalTDP2015.Persistence.EntityFramework.DigitalSignageInitializerAlwaysDrop,
         TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="EFDropIfChanges" type="TpFinalTDP2015.Persistence.EntityFramework.DigitalSignageInitializerDropIfChanges,
         TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="EFIDatabaseInitializer"
         type="System.Data.Entity.IDatabaseInitializer`1[[System.Data.Entity.DbContext, EntityFramework]],
                EntityFramework" />

  <container>
    <register type="Iuow" mapTo="Euow">
      <constructor />
    </register>
    <register type="IRss" mapTo="RawRSS">
      <constructor />
    </register>
    <register type="EFIDatabaseInitializer" mapTo="EFAlwaysDrop" >
      <constructor />
    </register>
  </container>
</unity>