<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  
    <alias alias="Iuow" type="TpFinalTDP2015.Persistence.Interfaces.IUnitOfWork,          TpFinalTDP2015.Persistence.Interfaces" />
    <alias alias="Euow" type="TpFinalTDP2015.Persistence.EntityFramework.EFUnitOfWork,    TpFinalTDP2015.Persistence.EntityFramework" />
    <alias alias="Nuow" type="TpFinalTDP2015.Persistence.NHibernate.NHUnitOfWork,         TpFinalTDP2015.Persistence.NHibernate" />
  
  <container>
    <register type="Iuow" mapTo="Euow">
    <lifetime type="singleton"/>
    </register>
  </container>
</unity>