<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <alias alias="Iuow" type="TpFinalTDP2015.Persistence.Interfaces.IUnitOfWork,          TpFinalTDP2015.Persistence.Interfaces" />
  <alias alias="Euow" type="TpFinalTDP2015.Persistence.EntityFramework.EFUnitOfWork,    TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="Nuow" type="TpFinalTDP2015.Persistence.NHibernate.NHUnitOfWork,         TpFinalTDP2015.Persistence.NHibernate" />
  <alias alias="IRss" type="TpFinalTDP2015.Service.RSS.IRssReader,                      TpFinalTDP2015.Service"/>
  <alias alias="RawRSS" type="TpFinalTDP2015.Service.RSS.RawXmlRssReader,               TpFinalTDP2015.Service"/>
  <alias alias="SyndicationRSS" type="TpFinalTDP2015.Service.RSS.SyndicationRssReader,  TpFinalTDP2015.Service"/>

  <alias alias="DigitalSignage" type="TpFinalTDP2015.Persistence.EntityFramework.DigitalSignageContext,    TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="DbContext" type="System.Data.Entity.DbContext,   EntityFramework" />

  <container>
    <register type="Iuow" mapTo="Euow" />
    
    <register name="EFUnitOfWork" type="Euow">
      <constructor>
        <param name="pContext" type="DigitalSignage">
          <dependency name="DigitalSignage">
          </dependency>
        </param>
      </constructor>
    </register>

    <register type="IRss" mapTo="RawRSS">
      <constructor />
    </register>
  </container>
</unity>