<?xml version="1.0" encoding="utf-8"?>
<unity
    xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <alias alias="IUnity" type="Unity.IUnityContainer, Unity.Abstractions" />
  <alias alias="IPersistenceFactory" type="MarrSystems.TpFinalTDP2015.Persistence.IPersistenceFactory, MarrSystems.TpFinalTDP2015.Persistence" />
  <alias alias="EntityFrameworkPersistenceFactory" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.EFPersistenceFactory, MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="IDbContextFactory" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.IDbContextFactory, MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="EntityFrameworkContextFactory" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.DigitalSignageDbContextFactory, MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="IControllerFactory" type="MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers.IControllerFactory, MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="ControllerFactory" type="MarrSystems.TpFinalTDP2015.BusinessLogic.UseCaseControllers.ControllerFactory, MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="IPageFactory" type="MarrSystems.TpFinalTDP2015.UI.AdminModePages.IAdminModePageFactory, MarrSystems.TpFinalTDP2015.UI.Winforms" />
  <alias alias="PageFactory" type="MarrSystems.TpFinalTDP2015.UI.AdminModePages.AdminModePageFactory, MarrSystems.TpFinalTDP2015.UI.Winforms" />
  <alias alias="IRss" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.IRssReader, MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="RawRSS" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.RawXmlRssReader, MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="SyndicationRSS" type="MarrSystems.TpFinalTDP2015.BusinessLogic.RSS.SyndicationRssReader, MarrSystems.TpFinalTDP2015.BusinessLogic"/>
  <alias alias="EntityFrameworkDigitalSignageContext" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.DigitalSignageContext, MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="IDbContext" type="MarrSystems.TpFinalTDP2015.Persistence.EntityFramework.IDbContext, MarrSystems.TpFinalTDP2015.Persistence.EntityFramework" />
  <alias alias="IScheduleChecker" type="MarrSystems.TpFinalTDP2015.Model.DomainServices.IScheduleChecker, MarrSystems.TpFinalTDP2015.Model"/>
  <alias alias="ScheduleChecker" type="MarrSystems.TpFinalTDP2015.Model.DomainServices.ScheduleChecker, MarrSystems.TpFinalTDP2015.Model"/>
  
  <container name="Registrations">
    <register type="IDbContextFactory" mapTo="EntityFrameworkContextFactory">
      <lifetime type="PerResolveLifetimeManager" />
    </register>
    <register type="EntityFrameworkContextFactory">
      <lifetime type="PerResolveLifetimeManager" />
      <constructor>
        <param name="pConectionStringName" value="DigitalSignageLocalDB" >        </param>
      </constructor>
    </register>
    <register type="IPersistenceFactory" mapTo="EntityFrameworkPersistenceFactory" name="IPersistenceFactory"></register>
    <register type="EntityFrameworkPersistenceFactory">
    </register>
    <register type="IControllerFactory" mapTo="ControllerFactory">
      <lifetime type="PerResolveLifetimeManager" />
    </register>
    <register type="ControllerFactory">
      <lifetime type="PerResolveLifetimeManager" />
    </register>
    <register type="IRss" mapTo="RawRSS">
      <lifetime type="PerResolveLifetimeManager" />
    </register>
    <register type="IScheduleChecker" mapTo="ScheduleChecker">
      <lifetime type="PerResolveLifetimeManager" />
    </register>
  </container>
</unity>